<header>

    <div class="header">
        <h3 class="header-head">DOPA ROPA</h3>
        <a class="nav-text" asp-page="/index">Home</a>
        <a class="nav-text" asp-page="/index">Woman</a>
        <a class="nav-text" asp-page="/index">Men</a>
        <a class="nav-text" asp-page="/index">New Arrivals</a>
        <a class="nav-text" asp-page="/index">SALE</a>
        <div class="sing-in">
        <a class="nav-text" asp-page="/index">Sign In !</a>
        </div>
    </div>
</header>