@model Product

<div class="product-list-item">
    <div class="product-img"></div>
    <div class="item">@Model.ProductName</div>
    <div class="item">@Model.Price</div>
    <div class="item">@Model.ProductSize</div>
</div>